
<div class="form_box">
<%= form_tag('/tasks', method: :post) do %>
タイトル
      <input type="text" name="title" placeholder="タイトル" class="form">
      内容
      <textarea name="content" placeholder="内容" rows="10" cols="30" class="form"></textarea>
      <div class="form">
      プロジェクト
      <ul style="list-style:none; " >
     <li><%= check_box "project", "仕事",class: "checkbox",id:'work' %>仕事</li>
     <li><%= check_box "project", "趣味",class: "checkbox",id:'hobby'%>趣味</li>
     <li><%= check_box "project", "その他",class: "checkbox",id:'other' %>その他</li>
   </ul>
   </div>
   期日
      <input type="date" name="deadline" value="2020-06-01" class="form">
     

      <input type="submit" value="追加" class="form add_btn">
    <% end %>
    </div>
<%= link_to '戻る', tasks_path ,class: "add_btn"%>
